<div class="header">
	<div class="topbar-buttons row">
		<div class="col-xs-3 topbar-button secondary-cta">

      <!-- Secondary action button -->
			{{outlet 'secondaryButton'}}


		</div>

		<div class="col-xs-6 topbar-button main-heading">

      <h3>{{outlet 'pageTitle'}}</h3>

		</div>

		<div class="col-xs-3 topbar-button primary-cta">

      {{outlet 'primaryButton'}}

		</div>


	</div>


  {{#if yieldSearch}}
		<div class="filter-bar">
      {{yield}}
		</div>
  {{/if}}


</div>

<div class="subContainer">
  <div class="containerBody">
    {{outlet}}
  </div>
</div>

<!-- Bottom navbar removed from here -->
{{outlet 'footer'}}
