
<p>
  <h4>Where are you teaching?</h4>

  {{select-location value=model.location}}
  <br/>
  {{input value=model.locationInfo placeholder="(optional) Meeting place details e.g. Ward 8" class="form-control location-info-field"}}
</p>


<p>
  <h4>When can you teach?</h4>

  {{datetimepicker-component value=model.startTime updateEnd=model.endTime updateDuration=model.duration}}


  <br/>
  I'm free for:<br/>
  {{select-duration model=model}}
</p>

<p>
  What are you teaching?
  <br/>
  {{textarea value=model.info placeholder="(optional) Description of what you plan to teach" class="availability-info-field form-control"}}
</p>

{{#link-to "app.main.availabilities.new.when" tagName='button' class="btn btn-default new-availability-more-options-button"}}
  More Options
{{/link-to}}
